.DS_Store
._*
.Spotlight-V100
.Trashes

# Idea specific hidden files
.idea/**

# Node specific files
node_modules/**

# Lint ,  reports
.reports/**

# Serverless specific files
.dynamodb/**

# Config file generated based on environment
src/config/config.json

#coverage
.nyc_output/**
coverage/**

#sonarqube
.scannerwork/**
report.json

#Build directories
.build/*
node_modules/*
package-lock.json
/cvs-*/
terraform.tfstate
terraform.tfstate.backup
idea/*

.terraform/*
.terraform/

localstack/scripts/seed/node_modules/*
localstack/scripts/certificates/*
localstack/scripts/reference-data/*
localstack/reference-data/*